# Credenciais do Last.fm
LASTFM_API_KEY=sua_api_key_aqui
LASTFM_USER=seu_usuario_do_lastfm

# Configurações de SEO
NEXT_PUBLIC_BASE_URL=https://lastfm-shields-badge.vercel.app
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX